body{
    background: rgba(0, 0, 255, 0.5);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}

select#valores{
    width:150px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}